.quest-panel {
  max-width: 65%;
}

.test {
  font-size: 15px;
  font-family:
}

.panel-body {
  width: auto;
}

body {
  background-image: url("https://hd.unsplash.com/photo-1469234496837-d0101f54be3e");
  background-size: cover;
  font-family: "Fondamento"
}

.ui-sortable, .panel-default {
  background-color: #E2E9C2;
  background-size: cover;
}

#top-row {
  text-align: center;
}

/*#option-panel {
  max-width: 45%;
  min-width: 40%;
}*/

.option-btn {
  min-width: 75px;
  max-width: 200px;
  text-align: center;
}

.btn-group {
  text-align: center;
}

.option-btn {
  padding-left: 3%;
}

#message_id {
  max-width: 25%;
}

.form-check {
  background-color: #EAEED3;
  max-width: 13%;
}

#query {
  background-color: #EAEED3;
  max-width: 20%;
}
