.quest-panel {
  max-width: 65%;
}

.test {
  font-size: 15px;
  font-family:
}

body {
  background-image: url("https://hd.unsplash.com/photo-1446776811953-b23d57bd21aa");
  background-size: cover;
}
