.quest-panel {
  max-width: 65%;
  position: absolute;
}

.row {
  margin-top: 15%;
}

.test {
  font-size: 15px;
  font-family:
}

.panel-heading {
  font-size: 20px;
  text-align: center;
}
.panel-body {
  width: auto;
}

.col-md-2 {
  text-align: center;

}

body {
  background-image: url("https://hd.unsplash.com/photo-1469234496837-d0101f54be3e");
  background-size: cover;
  font-family: "Fondamento";
}

.ui-sortable, .panel-default, li {
  background-color: rgba(220, 230, 177, 0.5);
  background-size: cover;
  margin-bottom: 20px;
  border-style: none;
}

label {
  text-align: center;
}


/*#option-panel {
  max-width: 45%;
  min-width: 40%;
}*/

.option-btn {
  min-width: 75px;
  max-width: 200px;
}

.btn-group {
  text-align: center;
}

.option-btn {
  padding-left: 3%;
}

#message_id {
  max-width: 25%;
}

.form-check {
  background-color: #EAEED3;
  max-width: 13%;
}

#query {
  background-color: #EAEED3;
  max-width: 20%;
}

button {

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
